:root {
  --color-primary: #A89C8D;
  --color-primary-dark: #2D2A21;
  --color-secondary: #F0E9DB;
  --color-accent: #F28236;
  --color-accent-light: #FFFFFF;

  --font-primary: "Dosis", sans-serif;
  --font-secondary: "Oleo Script", cursive;
}

html {
  font-family: var(--font-secondary);
}
