:root {
  --color-primary: #f2eadf;
  --color-primary-dark: #cba693;
  --color-secondary: #f2d7cc;
  --color-accent: #756764;
  --color-accent-light: #FFFFFF;

  --font-primary: "Dosis", sans-serif;
  --font-secondary: "Oleo Script", cursive;
}

html {
  font-family: var(--font-secondary);
}

a {
  font-family: var(--font-seondary);
  color: var(--color-accent);
}
