.bottom-nav {
  background-color: var(--color-primary-dark);
  width: 100%;
  text-decoration: none;
  list-style-type: none;
}

.credits {
  font-family: var(--font-primary);
  color: var(--color-accent);
}

.footer-nav {
  font-family: var(--font-primary);
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  color: var(--color-accent);
}

.footer-nav a {
  text-decoration: none;
}
