.btn-1 {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  color: var(--color-accent);
  text-decoration: none;
  font-family: var(--font-secondary);
}

.btn-1:hover {
  background-color: var(--color-primary-dark);
  border-color: var(--color-accent);
}

.btn-ghost-1 {
  background-color: var(--color-primary);
  border-color: var(--color-secondary);
  text-decoration: none;
}

.btn-ghost-1:hover {
  background-color: var(--color-secondary);
  color: var(--color-accent);
}

.btn-light-1 {
  background-color: var(--color-secondary);
  color: var(--color-accent);
  text-decoration: none;
}

.btn-light-1:hover {
  background-color: var(--color-accent);
  border-color: var(--color-primary);
  color: var(--color-accent-light);
}
