.btn {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  color: var(--color-accent);
  text-decoration: none;
  font-family: var(--font-secondary);
}

.btn:hover {
  background-color: var(--color-primary-dark);
  border-color: var(--color-accent);
}

.btn-ghost {
  background-color: var(--color-primary);
  border-color: var(--color-secondary);
}

.btn-ghost:hover {
  background-color: var(--color-secondary);
  color: var(--color-accent);
}

.btn-light {
  background-color: var(--color-secondary);
  color: var(--color-accent);
}

.btn-light:hover {
  background-color: var(--color-accent);
  border-color: var(--color-primary);
  color: var(--color-accent-light);
}
