.banner-header {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: "Abril Fatface", sans-serif;
  padding-bottom: 0;
  position: relative;
}

.img-top {
  padding-top: 0;
}

.icon-label {
  color: var(--color-primary);
  font-family: "Abril Fatface", sans-serif;
  font-size: 1.5rem;
}

.banner-content-header {
  text-align: center;
  color: var(--color-primary);
  font-size: 1.35rem;
}

.masthead-home {
  background-color: var(--color-secondary);
  font-family: var(--font-primary)
  border-bottom: .1rem solid #bea59b;
  color: var(--color-primary);
}

.logo-text {
  display: inline-block;
  width: 100%;
  padding-top: 0;
}
