.about-me {
  background-color: var(--color-primary);
  font-family: var(--font-secondary);
}

.title-01 {
  font-family: var(--font-secondary);
  padding: 0;
}

.img-01 {
  padding: 0;
  text-align: center;
  margin: 0;
}

.img-1 {
  margin: 0;
  text-align: center;
}

.about-me {
  padding-top: 4em;
}

.emphasize-me-1 {
  color: var(--color-primary-dark);
}

.emphasize-me-2 {
  font-family: var(--font-primary);
}

.work-1 {
  background-color: var(--color-accent-light);
  font-family: var(--font-secondary);
}

.work-2 {
  background-color: var(--color-secondary);
  font-family: var(--font-secondary);
}

.work-3 {
  background-color: var(--color-accent-light);
  font-family: var(--font-secondary);
}

.work-4 {
  background-color: var(--color-secondary);
  font-family: var(--font-secondary);
}

.work-btn {
  text-decoration: none;
  font-family: var(--font-primary);
  background-color: var(--color-accent);
  color: #ffffff;
  padding: .5em;
}

.work-btn:hover {
  background-color: var(--color-primary-dark);
}
