.about-me {
  background-color: var(--color-accent-light);
  font-family: var(--font-secondary);
}

.title-01 {
  font-family: var(--font-secondary);
  padding: 0;
}

.img-01 {
  padding: 0;
  text-align: center;
  margin: 0;
}

.img-1 {
  margin: 0;
  text-align: center;
}

.about-me {
  padding-top: 4em;
}

.emphasize-me-1 {
  color: var(--color-primary-dark);
}

.emphasize-me-2 {
  font-family: var(--font-primary);
}

.work-1 {
  font-family: var(--font-secondary);
  margin: 0;
}

.work-2 {
  font-family: var(--font-secondary);
  padding-top: 2em;
  padding-bottom: 3em;
}

.work-3 {
  font-family: var(--font-secondary);
}

.work-4 {
  font-family: var(--font-secondary);
}

.work-btn {
  text-decoration: none;
  font-family: var(--font-primary);
  background-color: var(--color-accent);
  color: #ffffff;
  padding: .5em;
}

.work-btn:hover {
  background-color: var(--color-primary-dark);
}

.aboutme-btn {
  text-decoration: none;
  background-color: var(--color-accent);
  font-family: var(--font-primary);
  color: #ffffff;
  padding: .5em;
}

.aboutme-btn:hover {
  background-color: var(--color-primary-dark);
}

.design-process {
  margin: 0;
  background-color: var(--color-primary-dark);
}

.design-process-title {
  color: var(--color-primary);
}

.process-title {
  color: var(--color-primary);
  font-family: var(--font-primary);
}

.error-page {
  background-color: var(--color-accent-light);
}

.error-btn {
  text-decoration: none;
  background-color: var(--color-accent);
  color: #ffffff;
  padding: .5em;
  font-family: var(--font-primary);
}

.error-btn:hover {
  background-color: var(--color-primary-dark);
}

.desc-aats {
  padding: 1em;
}

.needs-1 {
  padding: 1em;
}

.mock-ups {
  padding: 1em;
}

.desc-bongga {
  padding: 1em;
}

.needs-2 {
  padding: 1em;
}

.submitted-btn {
  text-decoration: none;
  background-color: var(--color-accent);
  color: #ffffff;
  padding: .5em;
  font-family: var(--font-primary);
}

.submitted-btn:hover {
  background-color: var(--color-primary-dark);
}
